@using ProductLibrary;
@{
    Layout = "Layout/_Master.cshtml";
    Page.Title = "List of products";

    string cat = "";
    var proList = new List<Product>();

    var foundProducts = new List<Product>();



    //create a relative reference to the file where we are saving json
    try
    {
        proList = DBProvider.GetProducts(Util.ProductPath);
        cat = Request["category"];

        foundProducts = proList.Where(p => p.Category.Name == cat).ToList();
    }
    catch (Exception e)
    {
        Console.WriteLine(e);
        Response.Redirect("index.cshtml", false);
    }
    if (IsPost)
    {

    }
}
<h1>Products in category @cat</h1>
<table>
    <tr>
        <th>Categori</th>
        <th>Name</th>
        <th>Size</th>
        <th>Price</th>
    </tr>
    @foreach (Product pro in foundProducts)
    {
    <tr>
        <td>@pro.Category.Name</td>
        <td>@pro.Name</td>
        <td>@pro.Size</td>
        <td>@pro.Price DK</td>
    </tr>
    }
</table>

