@using ProductLibrary;
@{
    Layout = "Layout/_Master.cshtml";

    string cat = "";
    var proList = new List<Product>();
    //create a relative reference to the file where we are saving json
    try
    {
        cat = Request["category"];
        proList = DBProvider.GetProductsFromCategory(cat, Util.ProductPath);

    }
    catch (Exception e)
    {
        Console.WriteLine(e);
        Response.Redirect("index.cshtml", false);
    }
    Page.Title = "Products under " + cat;
}
<h1>Products in category @cat</h1>
<table>
    <tr>
        <th>Categori</th>
        <th>Name</th>
        <th>Size</th>
        <th>Price</th>
    </tr>
    @foreach (Product pro in proList)
    {
    <tr>
        <td>@pro.Category.Name</td>
        <td>@pro.Name</td>
        <td>@pro.Size</td>
        <td>@pro.Price DK</td>
    </tr>
    }
</table>

