@using ProductLibrary;
@{
    Layout = "Layout/_Master.cshtml";

    var p = new Product();
    try
    {
        int proID = int.Parse(Request["id"]);
        p = DBProvider.GetProduct(proID, Util.ProductPath);
        if (p == null)
        {
            throw new Exception();
        }
    }
    catch (Exception e)
    {
        Console.WriteLine(e);
        //The following will redirect the user to the front page. 
        Response.Redirect("index.cshtml", false);
        Response.End();
    }
    Page.Title = p.Name;
}
<h3>Details about @p.Name</h3>
ID: @p.ID <br />
Name: @p.Name <br />
Price: @p.Price <br />
Size: @p.Size <br />
Category: @p.Category.Name <br /><br />
